{% include share.html %}

<nav class="pagination">
    {% if page.previous_in_category %}
    <a href="{{ site.url }}{{ page.previous_in_category.url }}" class="pagination_pager" title="{{ page.previous.title | markdownify | strip_html }}">previous</a>
    {% else %}
    <a href="#" class="pagination_pager disabled">previous</a>
    {% endif %}
    {% if page.next_in_category %}
    <a href="{{ site.url }}{{ page.next_in_category.url }}" class="pagination_pager" title="{{ page.next.title | markdownify | strip_html }}">next</a>
    {% else %}
    <a href="#" class="pagination_pager disabled">next</a>
    {% endif %}
</nav>
