{% if page.share != false %}
  <a href="http://service.weibo.com/share/share.php?title={{ site.url }}{{ page.url }}" class="btn btn_weibo" title="Share on weibo"><i class="fa fa-fw fa-weibo" aria-hidden="true"></i><span> weibo</span></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="btn btn_facebook" title="Share on Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="btn btn_google-plus" title="Share on Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i><span> Google+</span></a>
{% endif %}
