---
layout: compress
---

<!DOCTYPE html>
{% include head.html %}
<body id="homepage">
  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        <h1>
          <span id="box"></span>
          <script type="text/javascript" src="https://cdn.bootcss.com/typed.js/2.0.5/typed.js"></script>
          <script>
            var boxObj = document.getElementById('box');
            new Typed(boxObj,{
              strings: ['Hello','撸过此','路过此处的 咱祝汝有美好的一天',"#DreamMingHe"],
              backSpeed:30
              ,typeSpeed:70
            });
          </script>
          
          
          
        </h1>
        <h2>
          <p style="text-decoration:line-through">汝不要想了解咱</p>
         <br> 
          {{ site.description }}
        </h2>
       
    
      {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
    <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
    <span class="posts-link">POSTS</span>
    <a title="project" class="projects-menu-icon">
      <span></span>
    </a>
    <span class="projects-link">PROJECTS</span>
    <div class="content">
      <div class="about-info">
        {{ content }}
      </div>
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}

 <script src="{{ site.url }}/assets/js/canvas.js"></script>
 <script src="{{ site.url }}/assets/js/src/DianJiTeXiao.js"></script>

</body>
</html>
