---
layout: compress
---

<!DOCTYPE html>
{% include head.html %}
<body id="homepage">
  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        <h1>
          <span id="box"></span>
          <script type="text/javascript" src="https://cdn.bootcss.com/typed.js/2.0.5/typed.js"></script>
          <script>
            var boxObj = document.getElementById('box');
            new Typed(boxObj,{
              strings: ['Hello','撸过此.....','路过此站的人QWQ，祝您有美好的一天。','Kaitlynnnnn'],
              backSpeed:30
              ,typeSpeed:100
            });
          </script>
          
          
          
        </h1>
        <h2>
          {{ site.description }}
        </h2>
        {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
    <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
    <span class="posts-link">POSTS</span>
    <a title="project" class="projects-menu-icon">
      <span></span>
    </a>
    <span class="projects-link">PROJECTS</span>
    <div class="content">
      <div class="about-info">
        {{ content }}
      </div>
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}

  <div class="waifu">
        <div class="waifu-tips"></div>
        <canvas id="live2d" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>
    </div>
    
    <script src="path/to/waifu-tips.js"></script>
    <script src="path/to/live2d.js"></script>
    
    <script type="text/javascript">
        live2d_settings['modelId'] = 1;
        live2d_settings['modelTexturesId'] = 87;
    	initModel("https://www.example.com/path/to/waifu-tips.json")
    </script> 


</body>
</html>
